# What is the Anscombe's Quartet Dataset

Anscombe's quartet comprises four datasets that have nearly identical simple descriptive statistics, yet appear very different when graphed. Each dataset consists of eleven (x,y) points. They were constructed in 1973 by the statistician Francis Anscombe to demonstrate both the importance of graphing data before analyzing it and the effect of outliers on statistical properties. He described the article as being intended to counter the impression among statisticians that "numerical calculations are exact, but graphs are rough." (Wikipedia)

# Introduction

The Anscombe's quartet dataset is important for teaching the importance of grpahics in data analysis. It consists of four datasets that have identical summmary statistics but disimiliar data graphics. ( https://www.tandfonline.com/doi/abs/10.1198/000313007X220057).


Anscombe's quartet comprises four datasets that have nearly identical simple descriptive statistics, yet appear very different when graphed. Each dataset consists of eleven (x,y) points. They were constructed in 1973 by the statistician Francis Anscombe to demonstrate both the importance of graphing data before analyzing it and the effect of outliers on statistical properties. He described the article as being intended to counter the impression among statisticians that "numerical calculations are exact, but graphs are rough." (Wikipedia)

Francis's main point in assembling and analyzing the dataset was to show that of all the analytical tools at our disposal our eyes are sometimes the most important.

It is not known excatly how Anscombe created the dataset. According to one paper written by Sangit Chattergee and Aykut Firat, it is thought it was created using a genetic algorithm approach. (https://www.tandfonline.com/doi/abs/10.1198/000313007X220057).

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv( "https://gist.githubusercontent.com/ericbusboom/b2ac1d366c005cd2ed8c/raw/c92c66e43d144fa9c29dbd602d5af6988e8db533/anscombes.csv")

In [4]:
df

    id dataset     x      y
0    0       I  10.0   8.04
1    1       I   8.0   6.95
2    2       I  13.0   7.58
3    3       I   9.0   8.81
4    4       I  11.0   8.33
5    5       I  14.0   9.96
6    6       I   6.0   7.24
7    7       I   4.0   4.26
8    8       I  12.0  10.84
9    9       I   7.0   4.82
10  10       I   5.0   5.68
11  11      II  10.0   9.14
12  12      II   8.0   8.14
13  13      II  13.0   8.74
14  14      II   9.0   8.77
15  15      II  11.0   9.26
16  16      II  14.0   8.10
17  17      II   6.0   6.13
18  18      II   4.0   3.10
19  19      II  12.0   9.13
20  20      II   7.0   7.26
21  21      II   5.0   4.74
22  22     III  10.0   7.46
23  23     III   8.0   6.77
24  24     III  13.0  12.74
25  25     III   9.0   7.11
26  26     III  11.0   7.81
27  27     III  14.0   8.84
28  28     III   6.0   6.08
29  29     III   4.0   5.39
30  30     III  12.0   8.15
31  31     III   7.0   6.42
32  32     III   5.0   5.73
33  33      IV   8.0   6.58
34  34      IV   8.0   5.76
35  35      IV   8.0   7.71
36  36      IV   8.0   8.84
37  37      IV   8.0   8.47
38  38      IV   8.0   7.04
39  39      IV   8.0   5.25
40  40      IV  19.0  12.50
41  41      IV   8.0   5.56
42  42      IV   8.0   7.91
43  43      IV   8.0   6.89